<!DOCTYPE html>
<head>
    <link rel='icon' href="/image/weather.png">
<link rel="stylesheet" href="/css/styles.css">
<title>Help</title>
</head>
<body>
   <div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
    </div>
    {{>footer}}
</script>
</body>
